@model Cloud_COmputing.Models.Movie

<h1>@Model.Title</h1>
<p>@Model.Overview</p>

@if (!string.IsNullOrEmpty(Model.PosterPath))
{
    <img src="https://image.tmdb.org/t/p/w500@Model.PosterPath" alt="@Model.Title Poster">
}
