@model List<Cloud_COmputing.Models.Movie>

<h1>Popular Movies</h1>

@foreach (var movie in Model)
{
    <div>
        <h3>@movie.Title</h3>
        <p>@movie.Overview</p>
        <p><a href="@Url.Action("Details", new { id = movie.Id })">Details</a></p>
    </div>
}
